<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>teamID</key>
	<string>6QD86RU3Y2</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.feguiluz.flow</key>
		<string>iOS Team Provisioning Profile: com.feguiluz.flow</string>
	</dict>
</dict>
</plist>
